<%const title = "Un blog";%>
<%- include('head.ejs', {title}); -%>

<body>
    <%- include('nav.ejs'); -%>
    <main>
        <% articles.forEach(function(article) { %>
        <article>
            <header>
                <h2> <%- article.titulo %> </h2>
            </header>
            <section>
                <p> <%- article.descripcion %> </p>
                <% if (article.imagen) {%>
                    <img src=<%= article.imagen %> alt=<%= article.alt %>/>
                <%}%>
                <br>
                <%- article.cuerpo %>
            </section>
            <footer>
                By <b><%- article.autor %></b>
            </footer>
        </article>
        <hr>
        <% }); %>
        <footer>
            &copy; Ejemplo para incluir la mayor cantidad posible de etiquetas HTML
        </footer>
    </main>
</body>
</html>
